@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);

*
{
	font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6
{
	font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body
{
	background-color: #352b31;
	padding-top: 50px;
	margin-bottom: 50vh;
}

a, body
{
	color: #7e794e;
}

a:hover {
	color: #a8a271;
	text-decoration: none;
}

p
{
	font-weight: 300;
}

.name
{
	font-size: 50px;
}

.first-name
{
	font-weight: 700;
}

.last-name
{
	font-weight: 100;
}

hr
{
	border: 0;
	border-bottom: 1px dashed #7e794e;
}

#header {
	margin-bottom: 30px;
	border-bottom: 1px dashed #7e794e;
}

#nav
{
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nav div
{
	font-weight: 100;
	font-size: 20px;
}

.nav-item a
{
	display: block;
	padding-top:	10px;
	padding-bottom: 10px;
}

.nav-item a:hover
{
	text-decoration: none;
	color: #352b31;
	background: rgba(255,255,255,0.3);
}

.jumbotron
{
	background-color: rgba(0,0,0,0);
	margin-bottom: 0;
}

.section-title
{
	text-align: center;
	font-size: 34px;
	margin-bottom: 20px;
}

img.thumb
{
	border-style:none;
    border-radius:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
}

#contact a
{
	font-size: 100px;
	text-decoration: none;
}

.project-link
{
	margin-top: 10px;
}

.row-project
{
	margin-bottom: 20px;
}

.row-project p
{
	font-size: 18px;
}

.tags
{
	opacity: .5;
}

.pull-right-no-mobile
{
	float: right;
}

@media (max-width: 767px) {
    .pull-right-no-mobile {
        float:none;
    }

	#nav {
		border-top: 1px dashed #7e794e;
	}
}

@media (min-width: @screen-lg-min) {
	.name {
		/* Fix weird alignment of name? */
		margin-left: -60px;
	}
}
